/* Adapted from fullPage.js by Alvaro Trigo
/* https://github.com/alvarotrigo/fullPage.js

	/* Style for our header texts
	* --------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

	h1 {
		font-size: 2.5em;
		font-family: 'Lobster', cursive;
		color: #fff;
		margin:0;
		padding:0;
	}
	.intro p {
		color: #fff;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section {
		text-align:center;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		background: -webkit-gradient(linear, top left, bottom left, from(#fdded1), to(#d2cfdf));
		background: -webkit-linear-gradient(#fdded1, #d2cfdf);
		background: linear-gradient(#fdded1,#d2cfdf);
	}

	#section1{
		background: -webkit-gradient(linear, top left, bottom left, from(#d2cfdf), to(#cfd7e2));
		background: -webkit-linear-gradient(#d2cfdf, #cfd7e2);
		background: linear-gradient(#d2cfdf,#6cfd7e217d6b);
	}

	#section2{
		background: -webkit-gradient(linear, top left, bottom left, from(#cfd7e2), to(#cedde3));
		background: -webkit-linear-gradient(#cfd7e2, #cedde3);
		background: linear-gradient(#cfd7e2,#cedde3);
	}

	#section3{
		background: -webkit-gradient(linear, top left, bottom left, from(#cedde3), to(#fdded1));
		background: -webkit-linear-gradient(#cedde3, #fdded1);
		background: linear-gradient(#cedde3,#fdded1);
	}

	/* Menu CSS
	* --------------------------------------- */
	#menu {
    position:fixed;
    background: rgba(255,255,255, 0.1);
	  transition: top 0.2s;
		padding-top: 15px;
		height: 60px;
		text-align: center;
    top:0;
    left:0;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
		font-family: 'Lobster', cursive;
  }
	#logo {
		font-family: 'Lobster', cursive;
		font-size: 1.1em;
	}

  #menu li {
    display:inline-block;
    margin: 10px;
    color: #000;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 5px;
              border-radius: 5px;
  }
  #menu li.active{
    background:#666;
    background: rgba(0,0,0, 0.5);
    color: #fff;
  }
  #menu li a{
		cursor: pointer;
    text-decoration:none;
    color: #000;
  }
  #menu li.active a:hover{
    color: #000;
  }
  #menu li:hover{
    background-color: #19564c;
		cursor: pointer;
  }
  #menu li a,
  #menu li.active a{
    padding: 9px 18px;
    display:block;
  }
  #menu li.active a{
    color: #fff;
  }

	#infoMenu li a {
		color: #fff;
	}

	/* Custom styles added to each section
	* --------------------------------------- */

	.divleft {
		width: 39%;
		display: inline-block;
		margin: 0 auto;
	}
	.divright {
		width: 45%;
		float: right;
		margin: 50px auto;
		padding-right: 50px;
		padding-top: 3%;
		color: rgba(255,255,255, 0.5);
		font-family: 'Lobster', cursive;
		font-size: 2em;
	}
	.divright p {
		text-align: justify;
		font-size: 1em;
	}
	h2 {
		font-size: 3em;
		color: white;
		font-family: 'Lobster', cursive;
		font-size: 1.5em;
	}
	p {
		font-size: 3em;
		color: rgba(255,255,255, 0.5);
		font-family: 'Lobster', cursive;
	}
	#me {
		width: 375px;
		height: 50%;
		margin: 0 auto;
		border-radius: 5%;
		border: 10px solid rgba(255,255,255, 0.5);
		opacity: 0.8;
	}
	.divcenter {
		width: 90%;
		margin: 0 auto;
	}
	#portfolio-img {
		width: 250px;
		height: 200px;
		margin: 0 auto;
		border-radius: 5%;
		border: 10px solid rgba(255,255,255, 0.5);
		opacity: 0.8;
	}
